.footer{
    background: orange;
    display: flex;
    width: 66%;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

input{
    border: 0;
    padding: 5px;
    margin: 10px;
    background: white;
    width: 80%;
}

button{
    background-color: green;
    border: none;
    color: white;
    padding: 12px 24px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}