@import 'Reset.scss';

* {
    margin: 0;
    padding: 0;
}
  
/* selects the wrapper */
.wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 1em;
}

.heading{
    margin-top: .3em;
    margin-bottom: .3em;
    font-weight: 300;
}

.messageList{
    height: 50vh;
    max-width: 95%;
    overflow-y: scroll;
    margin: 0;
}

 .messageList::-webkit-scrollbar {
     width: 12px;
     color: orange;
 }
 
 .messageList::-webkit-scrollbar-track {
     border-radius: 10px;
     color: blue;
 }
 
 .messageList::-webkit-scrollbar-thumb {
     border-radius: 10px;
     color: red;
 }