@import 'Reset.scss';

* {
    margin: 0;
    padding: 0;
}
  
/* ========== GRID SETUP ============ */
.wrapper{
    display: grid;
    grid-template-columns: 30% 70% 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "headerL headerR"
        "sidebar messageDisplay"
        "sidebar sendMessage";
}

.headerL{
    grid-area: headerL;
}

.headerR{
    grid-area: headerR;
}

.sidebar{
    grid-area: sidebar;
}

.messageDisplay{
    grid-area: messageDisplay;
}

.sendMessage{
    grid-area: sendMessage;
}

/* ========== OTHER STYLING ========== */
.heading{
    margin-top: .3em;
    margin-bottom: .3em;
    font-weight: 300;
}

.messageList{
    height: 50vh;
    overflow-y: scroll;
    padding: 12px;
}

.messageList::-webkit-scrollbar {
    -webkit-appearance: scrollbartrack-vertical;
}  

 .messageList::-webkit-scrollbar {
     width: 12px;
 }
 
 
 .messageList::-webkit-scrollbar-track {
     border-radius: 10px;
 }
 
 .messageList::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background-color: $gray4;
 }