@import 'Reset';

.textCutOff{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.convo{
    @extend .textCutOff;
    border-bottom: 2px solid;
    border-color: $gray3;
    padding: 10px;
    padding-left: 15px;
}

/* ========== STATES OF CONVOS ============= */
.active{
    @extend .convo;
    background: $gray1;
    color: $white1;
}

.inactive{
    @extend .convo;
    background: $gray2;
    color: $white1;
}