@import 'Reset';

.textCutOff{
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.bubble {
    @extend .textCutOff;
    border-radius: 20px;
    padding: 8px 20px 8px 20px;
    margin-bottom: 8px;
    max-width: 300px;
    overflow: auto;
}

.myMessage {
    @extend .bubble;
    float: right;
    background: $purp;
}

.theirMessage {
    @extend .bubble;
    float: left;
    background: $gray1;
}

.loadingMessage {
    @extend .bubble;
    position: absolute;
    margin-top: 80px;
    padding: 5px 50px;
    font-size: 50px;
    background: $purp;
}

.unsent {
    @extend .bubble;
    background: none;
    border: $purp;
}

.name {
    font-weight: 300;
    margin-bottom: 5px;
}

.myName {
    @extend .name;
    text-align: right;
}

.theirName {
    @extend .name;
    text-align: left;
}

.loadingName {
    visibility: hidden;
}

.orange {
    background: $green;
}