@import 'Reset';

.bubble {
    border-radius: 20px;
    padding: 8px 20px 8px 20px;
}

.myMessage {
    float: right;
    background: $purp;
}

.theirMessage {
    float: left;
    background: $gray1;
}