@import 'Reset';

.container{
    display: grid;
    grid-template-columns: auto 100px;
    grid-gap: 10px;
    padding: 10px;
}

// ========= new message input ========= 
.newMessage{
    grid-column: 1;
    border: 0;
    padding: 10px;
    background: white;
    border-radius: 25px;
    padding-left: 15px;
}

// ========= the send button =========
.btn{
    grid-column: 2;
    border: none;
    background: $purp;
    color: $white1;
    cursor: pointer;
    border-radius: 25px;
}

.conBtn{
    position: fixed;
    top:50%;
    left:calc(50% - 50px);
    padding: 5px 50px;
    font-size: 50px;
    background: $purp;
}

.connected {
    display: none;
}

input[type=text] {
    font-family: Futura, Arial, sans-serif; 
    line-height: 1.4;
    font-size: 16px;
    background-color: $gray4;
    color: white;
}

::-webkit-input-placeholder {
    color:$white2;
}

::-moz-placeholder {
    color:$white2;
}

::-ms-placeholder {
    color:$white2;
}

::placeholder {
    color:$white2;
}