@import 'Reset';

.container{
    display: flex;
}

.newMessage{
    flex: 0 0 50%;
    border: 0;
    padding: 10px;
    background: white;
    //width: 75%;
    border-radius: 25px;
    //padding-left: 15px;
}

.btn{
    //display: inline-block;
    border: none;
    background: $purp;
    color: $white1;
    //padding: 7px 20px;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
}

.connected {
    display: none;
}

input[type=text] {
    background-color: $gray4;
    color: white;
}

::-webkit-input-placeholder {
    color:$white2;
}

::-moz-placeholder {
    color:$white2;
}

::-ms-placeholder {
    color:$white2;
}

::placeholder {
    color:$white2;
}