@import 'Reset';

.newMessage{
    border: 0;
    padding: 5px;
    margin: 10px;
    background: white;
    width: 80%;
}

.btn{
    display: inline-block;
    border: none;
    background: $purp;
    color: $white1;
    padding: 7px 20px;
    cursor: pointer;
}

input:focus {
    background: #000000;
}